.container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url(../../assets/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
            background-size: cover; /* version standardisée */

    .title {
        color: white;
        margin: 0;
        padding: 50px 20px;
    }

    .goto-button {
        border: none;
        font-weight: bold;
        background-color: #F0F0F0;
        &:hover {
            cursor: pointer;
            background-color: #E0E0E0;
        }
    }

    .router-link {
        border: none;
        font-size: 9pt;
        font-weight: bold;
        background-color: #F0F0F0;
        &:hover {
            cursor: pointer;
            background-color: #E0E0E0;
        }
    }
}
